#assign{
    width: 1600px;
    border-bottom: 0.5px solid lightgray ;
    padding: 20px;
    margin: auto;
    padding-left: 70px  ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

form{
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    /* background-color: rgb(227, 241, 254); */
}

input{
    width: 350px;
    height: 30px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
}
input:first-child{
    margin-top: 25px;
}

button{
    display: flex;
        margin: auto;
        margin-top: 30px;
        padding: 10px;
        background-color: rgb(227, 241, 254);
        border: 0.5px solid;
}